body {
    font-family: "Helvetic Neue", sans-serif;
    font-size: 16px;
    color: #52474b;
    margin: 0px 0px 0px 0px;
}
h1, h2, h3, h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 36;
}
h2 {
    font-size: 28;
}
h3 {
    font-size: 24;
}

p , li{
    line-height: 150%;
}
li {
    padding-bottom: 10px;
}
strong {
    color: #4d004c;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    font-size: 1em;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}
th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #ededed;
    color: #ffffff;
}
tr.alt td {
    color: #000000;
    background-color: #ffffff;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#mainWindow {
    overflow: auto;
    padding-bottom: 60px
}

.mainContent {
    width: 750px ;
    margin-left: auto ;
    margin-right: auto ;
}

/* Default style for content */
.mainContent h1 {
    color: #00248f
}
.mainContent h2 {
    color: #800000;
}
.mainContent h3 {
    color: #006600
}
.mainContent h4 {
    color: darkslateblue;
}
.mainContent hr {
    border: none;
    height: 1px;
    background-color: lavender;
}
header.pageHeader {
    border-width: 10px 0 2px 0;
    border-style: solid;
    border-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%) 10 10;
    min-height: 56px;
    position: relative;
}
.pagefooter {
    /* border-top: 2px solid #7a1f00; */
    border-width: 2px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%) 10 10;
}

.mainContent img {
    width: 100%;
    border-radius: 10px;
}


img#myHeaderPicture {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    vertical-align: middle;
}
span#titleText {
    vertical-align: middle;
}
.headerContent {
    text-align: center;
}
.footerContent {
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0px 0px;
    color: #8a8a8a;
    text-align: center;
}
a:link {
    color: #3333ad;
    text-decoration: none;
}
a:visited {
    color: #cc00cc;
    text-decoration: none;
}
a:hover {
    color: #0000FF;
    text-decoration: underline;
}
a:active {
    color: #FF00FF;
    text-decoration: underline;
}

a.samLink:link {
    color: #3333ad;
    text-decoration: none;
}
a.samLink:visited {
    color: #cc00cc;
    text-decoration: none;
}
a.samLink:hover {
    color: #0000FF;
}
a.samLink:active {
    color: #FF00FF;
}

a#titleLink:link {
    color: #008800;
    text-decoration: none;
}
a#titleLink:visited {
    color: #008800;
    text-decoration: none;
}
a#titleLink:hover {
    color: #008800;
    text-decoration: none;
}
a#titleLink:active {
    color: #ff00ff;
    text-decoration: none;
}
.postTitle a:link {
    color: #003399;
    text-decoration: none;
}
.postTitle a:visited {
    color: #660066;
    text-decoration: none;
}
.postTitle a:hover {
    color: #660066;
    text-decoration: underline;
}
.postTitle a:active {
    color: #FF3399;
    text-decoration: underline;
}
.postTitle h2 {
    color: inherit;
}
.noBottom {
    margin-bottom: 0
}
.noTop {
    margin-top: 0
}
#wrapper {
    min-height: 100%;
}
#footer {
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear:both;
    font-family: "Helvetica Neue";
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 100px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #999; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: xx-large;
}
#myBtn:hover {
    background-color: #555;
}
