:root {
  --color10: #e9e7fb;
  --color9: #585877;
  --color8: #585877;
  --color7: #585877;
  --color6: #585877;
  --color5: #585877;
  --color4: #585877;
  --color3: #585877;
  --color2: #585877;
  --color1: #585877;
  --color0: #e9e7fb;

  --postwidth: 750px;
}

@media only screen and (max-width:1000px) {
    :root {
        --postwidth: calc(100% - 16px);
    }
}

body {
    font-family: "Helvetic Neue", sans-serif;
    font-size: 1em;
    color: #52474b;
    margin: 0px 0px 0px 0px;
}
h1, h2, h3, h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    /*font-size: 24;*/
    font-size: 1.5em;
}

p , li{
    line-height: 170%;
}
li {
    padding-bottom: 10px;
}
strong {
    color: var(--color2)
}

table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    font-size: 1em;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}
th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #ededed;
    color: #ffffff;
}
tr.alt td {
    color: #000000;
    background-color: #ffffff;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#mainWindow {
    overflow: auto;
    padding-bottom: 60px
}

.mainContent {
    width: var(--postwidth) ;
    margin-left: auto ;
    margin-right: auto ;
}

.mainContent h1 {
    color: var(--color1);
}
.mainContent h2 {
    color: var(--color2);
}
.mainContent h3 {
    color: var(--color4)
}
.mainContent h4 {
    color: var(--color6);
}
.mainContent hr {
    border: none;
    height: 1px;
    background-color: var(--color0);
}
header.pageHeader {
    border-width: 10px 0 2px 0;
    border-style: solid;
    border-image: linear-gradient(315deg, var(--color10) 0%, var(--color0) 74%) 10 10;
    min-height: 56px;
    position: relative;
}
.pagefooter {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(315deg, var(--color10) 0%, var(--color0) 74%) 10 10;
}

.mainContent img {
    width: 100%;
    /*border-radius: 10px;*/
    border-radius: 5px;
}

.mainContent video {
    width: var(--postwidth);
    max-width: 500px;
}

.videoContainer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

img#myHeaderPicture {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    vertical-align: middle;
}
span#titleText {
    vertical-align: middle;
}
.headerContent {
    text-align: center;
}
.footerContent {
    width: var(--postwidth) ;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0px 0px;
    color: #8a8a8a;
    text-align: center;
}
a:link {
    color: var(--color1);
    text-decoration: none;
}
a:visited {
    color: var(--color4);
    text-decoration: none;
}
a:hover {
    color: var(--color6);
}
a:active {
    color: var(--color10);
}

a.samLink:link {
    color: var(--color1);
    text-decoration: none;
}
a.samLink:visited {
    color: var(--color2);
    text-decoration: none;
}
a.samLink:hover {
    color: var(--color4);
}
a.samLink:active {
    color: var(--color6);
}

.postTitle span {

}

.noBottom {
    margin-bottom: 0
}
.noTop {
    margin-top: 0
}
#wrapper {
    min-height: 100%;
}
#footer {
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear:both;
    font-family: "Helvetica Neue";
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 100px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #999; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: xx-large;
}
#myBtn:hover {
    background-color: #555;
}
